*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    color: #f6efef;
    background-color: rgb(239, 110, 103);
  }
  .logo{
    flex: 2;
  }
  nav ul{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
  }
  nav ul li{
    list-style-type: none;
  }
  main{
    padding: 5rem;
    width: 100%;
    background-color: #c8b9e0;
  }
  .movie-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .movie-holder a{
    flex: 3;
  }
  #loader{
    position: relative;
    height: 60px;
    width: 60px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 10px solid #ccc;
  }
  #loader::before{
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: calc(100% + 22px);
    width: calc(100% + 22px);
    top: -11px;
    left: -11px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #081563 transparent transparent transparent;
    animation: rotate .6s linear infinite;
  }
  .movie-img-wrapper{
    background-size: cover;
    width: auto;
    height: 250px;
  }
  #booker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
  }
  #booker-grid-holder{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 2rem;
  }
  .booking-grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5rem;
    height: 150px;
    width: 200px;
    color: #cb2828;
    font-weight: 600;
  }
  #confirm-purchase{
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    color: #0f0202;
  }
  #booking-grid-undefined{
    font-size: auto;
    color: #cb2828;
  }
  .seat{
    display: grid;
    place-content: center;

  
  }
  .available-seat{
    background-color: rgb(115, 231, 115);
  }
  .unavailable-seat{
    background-color: rgb(19, 17, 17);
  }
  .select-seat{
    border:4px outset rgb(0, 0, 0);
  }
  
  .d-none{
    display: none;
  }
  .v-none{
    visibility: hidden;
  }
  input{
    padding: .1rem;
    width: 200px;
    height: 35px;
    padding: .3rem;
    background-color: rgb(168, 219, 203);
  } 
  button[type="submit"]{
    width: 200px;
    height: 35px;
    padding: .5rem;
    color: rgb(252, 255, 255);
    background-color: rgb(1, 18, 13);
  }
  @keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
  }
  p{
    color: #170f0f;
    padding: .2rem;

  }
  h3{
    color: #ce0c0c;
  }

